node_modules/
artifacts-pvm/
cache-pvm/
ignition/deployments/*
/.idea/misc.xml
/.idea/modules.xml
/.idea/polkavm-hardhat-examples.iml
/.idea/vcs.xml
/uniswap/artifacts
/uniswap/cache/compile-cache.json
/.idea/jsLibraryMappings.xml
/uniswap/pnpm-lock.yaml
/uniswap/pnpm-workspace.yaml
/.idea/dictionaries/project.xml
/.substrate-server
/westend_runtime-*.compact.compressed.wasm
/.env
/.idea/compiler.xml
/.idea/material_theme_project_new.xml
/.idea/inspectionProfiles/Project_Default.xml
